<% if false %>
Project name: Beacon Resources
Description: BeaconResources is a web application that will allow for easy access to verified resources, such as homeless shelters and food banks, by county in New Jersey with appropriate category filtering.
Filename: index.html.erb
Description: The root directory that the user will see when navigating to the site, displaying all the resources currently available
Last modified on: 11/09/2020
<% end %>

<header>
  <h1>BeaconResources</h1>
  <h3><%= link_to "Suggest Resource", "/suggestions" %></h3>
  <h3><%= link_to "Log In", "/login" %></h3>
</header>
<section>
  <p>
    BeaconResources is a web application that will allow for easy access to verified resources, such as homeless shelters and food banks, by county in New Jersey with appropriate category filtering.
  </p>
  <%# Form Stuff for selecting filters %>
  <%= form_tag( { :action => :index, }, { :method => :post }) do %>
  <%= select("post", "category_id", Category.all.collect {|c| [ c.name, c.id ] }, { :include_blank => true }) %>
  <%= submit_tag( "Find Resources" ) %>
  <% end %>
</section>

<body>
  <%# Lists each county above the resources within it %>
  <% @counties.each do |county| %>
    <h3><%= county.name %></h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Town</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Phone</th>
        </tr>
      </thead>

      <tbody>
      <%# Displays information relevant to a resource %>
        <% @resources.each do |resource| %>
          <tr>
            <td><%= resource.name %></td>
            <td><%= resource.address %></td>
            <td><%= resource.town %></td>
            <td><%= resource.state %></td>
            <td><%= resource.zip_code %></td>
            <td><%= resource.phone %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</body>