<% if false %>
Project name: Beacon Resources
Description: BeaconResources is a web application that will allow for easy access to verified resources, such as homeless shelters and food banks, by county in New Jersey with appropriate category filtering.
Filename: index.html.erb
Description: The root directory that the user will see when navigating to the site, displaying all the resources currently available
Last modified on: 11/10/2020
<% end %>

<section>
  <p>
    BeaconResources is a web application that will allow for easy access to verified resources, such as homeless shelters and food banks, by county in New Jersey with appropriate category filtering.
  </p>
    <%# Form Stuff for selecting filters %>
    <%= form_tag( { :action => :index, }, { :method => :post }) do %>
      <%= select("post", "category_id", Category.all.collect {|c| [ c.name, c.id ] }, { :include_blank => true }) %>
      <%= submit_tag( "Find Resources" ) %>
    <% end %>
</section>

<section>
  <%# Lists each county above the resources within it %>
  <% @counties.each do |county| %>
    <h3><%= county.name %></h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Town</th>
          <th scope="col">Zip Code</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>

      <tbody>
      <%# Displays information relevant to a resource %>
        <% @resources.each do |resource| %>
          <% if resource.county_id == county.id %>
            <tr>
              <td><%= resource.name %></td>
              <td><%= resource.address %></td>
              <td><%= resource.town %></td>
              <td><%= resource.zip_code %></td>
              <td><%= resource.phone %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>