<section>
  <%# Lists each county above the resources within it %>
  <% @counties.each do |county| %>
    <h3><%= county.name %></h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="text-align:center">Name</th>
          <th scope="col" style="text-align:center">Address</th>
          <th scope="col" style="text-align:center">Town</th>
          <th scope="col" style="text-align:center">Zip Code</th>
          <th scope="col" style="text-align:center">Phone</th>
          <th scope="col" style="text-align:center">Remove</th>
        </tr>
      </thead>

      <tbody>
        <%# Displays information relevant to a resource %>
            <% @resources.each do |resource| %>
            <% if resource.county_id == county.id %>
              <tr>
                <td><%= resource.name %></td>
                <td style="text-align:center"><%= resource.address %></td>
                <td style="text-align:center"><%= resource.town %></td>
                <td style="text-align:center"><%= resource.zip_code %></td>
                <td style="text-align:center"><%= resource.phone %></td>
                <td style="text-align:center"><%= button_to "X", {:controller => :update, :action => 'remove', :id => resource.id }, :class => 'btn btn-primary btn-sm', :method => :delete %></td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  <% end %>
</section>