<!DOCTYPE html>
<html>
  <head>
    <title>BeaconResources</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="topnav">
      <h1><%= link_to "BeaconResources", "/" %></h1>
      <% if admin_signed_in? %>
        <%= link_to '<button type="button" class="btn btn-outline-primary">Add Resource</button>'.html_safe, "/add" %>
        <%= link_to '<button type="button" class="btn btn-outline-primary">Remove Resource</button>'.html_safe, "/remove" %>
        <%= link_to '<button type="button" class="btn btn-outline-primary">View Suggestions</button>'.html_safe, "/view" %>
      <% end %>
      <% unless admin_signed_in? %>
        <%= link_to '<button type="button" class="btn btn-outline-primary">Suggest Resource</button>'.html_safe, "/suggestions" %>
        <%= link_to '<button type="button" class="btn btn-outline-primary">Admin Log In</button>'.html_safe, "/admins/sign_in" %>
      <% end %>
      <% if admin_signed_in? %>
        <%= link_to '<button type="button" class="btn btn-outline-primary">Sign Out</button>'.html_safe, destroy_admin_session_path, method: :delete %>
      <% end %>
    </div>    
  </header>

  <body>
    <% if notice != nil %>
      <div class="alert alert-info notice">
        <%= notice %>
      </div>
    <% end %>
    <% if alert != nil %>
      <div class="alert alert-danger alert">
        <%= alert %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
