<% if false %>
Project name: Beacon Resources
Description: BeaconResources is a web application that will allow for easy access to verified resources, such as homeless shelters and food banks, by county in New Jersey with appropriate category filtering.
Filename: suggestions.html.erb
Description: Allows user to choose whether they want to make a suggestion to add or remove a resource
Last modified on: 11/09/2020
<% end %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="text-align:center">#</th>
        <th scope="col" style="text-align:center">Type</th>
        <th scope="col" style="text-align:center">Name</th>
        <th scope="col" style="text-align:center">City</th>
        <th scope="col" style="text-align:center">County</th>
        <th scope="col" style="text-align:center">Description</th>
        <% if admin_signed_in? %>
          <th scope="col" style="text-align:center">Remove</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @suggestions.each do |s| %>
        <tr>
          <th scope="row" style="text-align:center"><%= s.id %></th>
          <td style="text-align:center"><%= s.s_type %></th>
          <td style="text-align:center"><%= s.name %></td>
          <td style="text-align:center"><%= s.city %></td>
          <td style="text-align:center"><%= s.county %></td>
          <td><%= s.description %></td>
          <% if admin_signed_in? %>
            <td style="text-align:center"><%= button_to "X", {:controller => :suggestion, :action => 'view', :id => s.id }, :class => 'btn btn-primary btn-sm', :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>