<% if false %>
Project name: Beacon Resources
Description: BeaconResources is a web application that will allow for easy access to verified resources, such as homeless shelters and food banks, by county in New Jersey with appropriate category filtering.
Filename: suggestions.html.erb
Description: Allows user to choose whether they want to make a suggestion to add or remove a resource
Last modified on: 11/09/2020
<% end %>

<header>
  <div class="topnav">
    <h1><%= link_to "BeaconResources", "/" %></h1>
    <%= link_to '<button type="button" class="btn btn-outline-primary">View Suggestions</button>'.html_safe, "/view" %>
    <%= link_to '<button type="button" class="btn btn-outline-primary">Suggest Resource</button>'.html_safe, "/suggestions" %>
    <%= link_to '<button type="button" class="btn btn-outline-primary">Log In</button>'.html_safe, "/login" %>
  </div> 
</header>
<body>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <% @suggestions.each do |s| %>
        <tr>
          <th scope="row"><%= s.id %></th>
          <td><%= s.s_type %></th>
          <td><%= s.name %></td>
          <td><%= s.location %></td>
          <td><%= s.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>